@media print {
   .noprint {
      display:none;
   }
   body {
      max-width:800px;
   }
   #info_panel {
      display:none;
   }
   .code_box {
      display:block;
   }
}

@media screen {
   .print {
      display:none;
   }
   #container {
      padding-top: 60px;
   }
   #content {
      margin: 0 auto;
      max-width: 1000px;
   }
   .code_box {
      display: none;
   }
   .forum_message {
      width:820px;
   }
   .forum_info {
      width: 180px;
   }
   #info_panel {
      position:absolute;
      right:10px;
      top:55px;
      text-align:right;
      color:#999;
      font: 80% Tahoma, Arial, sans-serif;
   }
}

body {
   padding: 0;
   margin: 0;
   border-width: 0;
   font-size: 90%;
   font-family: "Trebuchet MS", sans-serif;
   min-height: 800px;
   background-color:#222;
   color: #eee;
}

/* Generic overrides */
img {
   border:0;
   vertical-align: middle;
}
pre {
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
h1,h3,h4 {
   color: #aaa;
}
h2 {
   color: #9D6F53;
}
h1,h2,h3,h4 {
   margin: 0;
   font-family: Arial,helvetic,sans-serif;
}
h2 {
   padding: 10px 0 5px 0;
}
h3,h4 {
   font-family: "Courier New", monospace;
}
a {
   color: #bbb;
   text-decoration: none;
}
a:hover {
   color: #777;
}
input[type="radio"] {
   vertical-align:middle;
   margin:0 0 2px 2px;
   padding:0;
}
var {
  font-family: times new roman;
  font-style: italic;
  font-size: 120%;
}
dfn {
   border-bottom: 1px dotted green;
   font-style: normal;
}

input, select, textarea {
   background-color:#bbb;
}

/* Global classes */
.info {
	position: relative;
   cursor: help;
}
.info span {
	display: none;
	position: absolute;
   font-family: Arial, helvetic, sans-serif;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 90%;
   color: #555;
   font-weight:normal;
	font-style:normal;
	top: 20px;
	padding: 5px;
	z-index: 100;
	background-color: #eee;
	border: 2px solid #666;
	border-radius: 5px;
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.info:hover {
	font-size: 100%; /* this is just for IE */
}
.info:hover span {
	display: block;
}
.info .heading {
   font-weight:bold;
   color:#333;
}

.hidden {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

.formula table {
   border-collapse: collapse;
   margin: 0 5px;
}
.formula .frac td {
   padding: 0 5px;
   text-align: center;
}
.overline {
   border-top: 1px solid #000;
}

.grid {
  border-collapse: collapse;
}
.grid tr {
   background-color:#222;
}
.grid th {
   background-color: #666;
   color: #ddd;
   text-align: center;
   font-weight: bold;
}
.grid td {
   background-color: #333;
   color: #999;
}
.grid td, .grid th {
   padding: 2px;
   border: 1px solid #bbb;
}

.no_border {
   border-collapse: collapse;
}
.no_border td {
   padding: 1px;
   border: none;
}

.problem_content {
   background-color:#bbb;
   color:#333;
   font-size: 110%;
   border-top:solid 1px #ddd;
   border-bottom:solid 1px #aaa;
   border-left:solid 1px #ddd;
   border-right:solid 1px #aaa;
   padding:10px;
}

.form_box {
   background-color: #ffefbd;
   border: 1px solid #bbb;
   padding: 10px;
   border-radius: 5px;
}
.custom_tags {
  border-collapse: collapse;
}

.custom_tags td, .custom_tags th {
   padding: 2px;
   border: 1px solid #bbb;
}

.forum_table a, .problem_content a {
   color:#888;
}
.forum_table a:hover, .problem_content a:hover {
   color:#555;
}
.forum_table {
   background-color: #bbb;
   border-collapse:collapse;
   border:1px solid #ddd;
}
.forum_table td {
   padding: 5px;
}
.forum_message {
   color: #222;
   padding: 5px;
   font-family: "Consolas", "Lucida Console", "Monaco", "Courier New", Courier, monospace;
   font-size: 1.1em;
   vertical-align: top;
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.forum_info {
   background-color:#5E4940;
   color: #ddd;
   vertical-align:top;
   border-right:1px solid #ddd;
}
.forum_quote {
   background:#E1D6D2;
   padding:.5em;
   border:1px solid #999;
}
.forum_hide {
   background-color: #fcf;
   color: #fcf;
   cursor: help;
   padding-left: 5px;
   padding-right: 5px;
}
.forum_hide:hover {
   color:#000;
}

.code_box pre {
   margin: 0;
}
.code_box {
   background-color: #888;
   border: 1px solid #bbb;
/*   border-top: none; */
   margin: 0 10px;
   margin-top: -1px;
}
.code_click {
   color: #444;
   background-color:#ccc;
   margin: 10px;
   margin-bottom: 0;
   border: 1px solid #bbb;
   text-align: right;
   font-family: Tahoma, Arial, sans-serif;
   font-size: 85%;
   font-weight: bold;
   cursor: pointer;
}
.code_click table {
   width: 100%;
   padding:0;
   margin:0;
   border-collapse:collapse;
}

.warning {
   color:#e00;
}
.small_notice {
   color:#999;
   font-size:80%;
}
.note {
   font-size:90%;
}

a.anchor {
   position:relative;
   top:-80px;
}

/* Pagination */
.pagination {
   font-family: Tahoma, Arial, sans-serif;
   font-size: 80%;
	height: 1%; /* IE tweak (holly hack) */
   text-align: center;
}

.pagination a, .pagination a:link, .pagination a:visited, .pagination a:active {
   display: block;
   float: left;
   font-weight:bold;
	text-decoration: none;
	color: #fff;
	margin: 0 5px 0 0;
	padding: 2px;
   padding: 0.5em;
	background-color: #888;
	border: 1px solid #777;
}

.pagination a.current {
   background-color: #f93;
   font-weight: bold;
}

.pagination a:hover {
	background-color: #f93;
	color: #fff;
}

.pagination span {
   float: left;
   font-weight: bold;
}

/* Global ids */
#header {
   position:fixed;
   top:0;
   width:100%;
   background-color:#222;
   height:50px;
   box-shadow:0 2px 5px #111;
   z-index:999;
}

#message {
   width:100%;
   background-color: #333;
   color: #f60;
   text-align: center;
   font-weight: bold;
   border: 1px solid #ccc;
   margin-bottom: 10px;
   line-height: 2em;
}
#message a {
   color: #ff6600;
}

#container {
   position: relative;
   margin-top: 10px;
}

#logo {
   position: absolute;
   top: 0;
   left: 11px;
   width:250px;
   height:45px;
   margin-right: 20px;
   background-image:url("pe_logo_dark.png");
}
#logo div {
   display:none;
   position:relative;
   font-family:Tahoma,sans-serif;
   font-size:200%;
   color:#6b4e3d;
   font-weight:bold;
   letter-spacing:-2px;
}
#logo span {
   font-family:"Courier New",monospace;
   color:#ccc;
   position:absolute;
   letter-spacing:0;
   top:15px;
}

#footer {
   color: #bbb;
   margin-top: 50px;
   text-align:center;
   padding:20px;
   font:11px Verdana,sans-serif;
}
#footer a {
   color: #bbb;
}
#content {
   padding: 10px;
}

#cache_info {
   text-align:right;
   font-size:70%;
   color:#999;
}

/* Navigation bar */
#nav {
   float:right;
   padding: 0;
   padding-top:10px;
   font: 80% Tahoma, Arial, sans-serif;
}
#nav ul {
   list-style: none;
   margin:0;
}
#nav li {
   width: 70px;
   background-color:#888;
   display:block;
   float:left;
   margin-right:7px;
   border:1px solid #777;
}
#nav a {
   color:#fff;
   display:block;
   font-weight:bold;
   padding:5px;
   text-decoration:none;
}
#nav li:hover {
   background-color:#ff9933;
}
#nav #current a {
   background-color:#ff9933;
}
#nav #new_news {
   color:#ee9;
}

/* Page specifics */
#about_page #disclaimer {
   margin:0 20px;
   border:2px solid #bbb;
   background-color:#e9e9fd;
   color:#333;
   padding:10px;
   font-size:80%;
}
#problems_table_page .sortby {
   color:#000;
   font-weight:bold;
}
#problems_table_page .age_minutes {
   color:#d52b00;
}
#problems_table_page .age_hours {
   color:#ff7d5e;
}
#problems_table_page .age_days {
   color:#676c9c;
}
#problems_table_page .age_weeks {
   color:#9296b8;
}
#problems_table_page #problems_table {
   max-width:800px;
}
#problems_table_page #problems_table th.id_column {
   width:40px;
}
#problems_table_page #problems_table td.id_column {
   height:30px;
   text-align:center;
   font-weight:bold;
}
#problems_table_page #problems_table th.title_column {
   width:400px;
}
#problems_table_page #problems_table th.final_column {
   border:none;
   background:none;
   width:250px;
}
#problems_table_page #problems_table a {
   text-decoration:none;
}

#show_problem_table {
   width:100%
}
#show_problem_table .info {
   cursor:pointer;
}
#show_problem_table #previous_problem span {
   width:250px;
}
#show_problem_table #next_problem {
   text-align:right;
}
#show_problem_table #next_problem span {
   text-align:left;
   width:250px;
   right:0;
}
#show_problem_table #problem_info span {
   width:300px;
}

#forum_page #problem_link a {
   text-decoration:none;
}
#forum_page .action_buttons {
   font-size:75%;
   text-align:right;
   font-weight:bold;
}
#forum_page .action_buttons img {
   vertical-align:bottom;
}
#forum_page .suspicious_code {
   text-align:center;
   color:#a00;
   border:1px solid #999;
   background-color:#ddd;
   padding:5px;
}

#progress_page #main_section {
   float:left;
   max-width:600px;
   margin-right:80px;
/*
   border:1px solid #999;
   padding:20px;
   border-radius:10px;
*/
}
#progress_page #problem_history {
   float:left;
   font-size:90%;
}
#progress_page #final_division {
   clear:both;
}
#progress_page #friend_image_box {
   float:right;
   text-align:center;
}
#progress_page #friend_box img {
   border:1px solid #999;
   width:100px;
}
#progress_page #level_image_box {
   padding:10px;
   border:1px solid #ccc;
   float:left;
   margin-right:20px;
}
#progress_page #profile_name_text {
   font-size:300%;
}
#progress_page #level_text {
   font-size:200%;
}
#progress_page #progress_bar_section {
   margin-top:50px;
   clear:both;
}
#progress_page #progress_bar_box {
   width:600px;
   border:1px solid #999;
   padding:1px;
   margin-top:2px;
}
#progress_page #progress_bar {
   height:5px;
}
#progress_page #progress_bar_box span {
   right:0;
   top:15px;
}
#progress_page #levels_completed_section {
   margin-top:30px;
}
#progress_page #levels_completed_table td, #progress_page #problem_solving_awards_table td,#progress_page #forum_based_awards_table td {
   color:#999;
   width:70px;
   height:75px;
   vertical-align:middle;
   text-align:center;
}
#progress_page #levels_completed_table img, #progress_page #problem_solving_awards_table img,#progress_page #forum_based_awards_table img {
   width:60px;
}
#progress_page #levels_completed_table .info span, #progress_page #problem_solving_awards_table .info span, #progress_page #forum_based_awards_table .info span {
   width:150px;
   top:50px;
}
#progress_page #problems_solving_awards_section, #progress_page #forum_based_awards_section {
   margin-top:30px;
}

#progress_page #problems_solved_section {
   margin-top:30px;
}
#progress_page .problems_solved_table {
   margin-bottom:10px;
}
#progress_page .problems_solved_table td {
   width:25px;
   height:20px;
   vertical-align:middle;
   text-align:center;
   font-size:90%;
   color:#333;
}
#progress_page #problems_solved_section .info {
   cursor:pointer;
}
#progress_page #problems_solved_section .info span {
   width:250px;
   text-align:left;
}
#progress_page .problem_solved {
   color:#000;
   background-color:#cee7b6;
}
#progress_page .problem_unsolved {
   color:#666;
   background-color:#ccc;
}
#progress_page .own_problem_solved {
   font-weight:bold;
   color:#009933;
}

#progress_page #posts_made_section {
   clear:both;
   margin-top:30px;
}
#progress_page #posts_made_table td {
   width:75px;
   height:20px;
   vertical-align:middle;
   font-size:90%;
   font-weight:bold;
}
#progress_page #posts_made_section .post_permanent {
   color:#575;
}
#progress_page #posts_made_section .kudos_permanent {
   color:#a22;
}
#progress_page #posts_made_section .post_temporary, #progress_page #posts_made_section .kudos_temporary {
   color:#999;
}

#friends_page #friends_image_box {
   float:right;
   text-align:right;
}
#friends_page #friends_image {
   border:1px solid #999;
   width:200px;
}
#friends_page #friends_table th {
   width:4em;
}
#friends_page #friends_table .rank_column {
   width:2em;
   border:none;
   background:none;
   text-align:right;
   font-size:80%;
   color:#777;
   font-weight:bold;
}
#friends_page #friends_table .username_column {
   width:15em;
   text-align:left;
}
#friends_page #friends_table .language_column {
   width:8em;
   text-align:left;
}
#friends_page #friends_table .country_column, #friends_page #friends_table .solved_column, #friends_page #friends_table .level_column, #friends_page #friends_table .awards_column {
   text-align:center;
}
#friends_page #friends_table .info span {
   color:#444;
   width:300px;
   top:35px;
   text-align:left;
}
#friends_page #friends_key_section {
   clear:both;
   margin-top:100px;
   text-align:right;
   font-weight:bold;
   font-size:80%;
}
#friends_page #friends_key_section input[type="input"], #friends_page #friends_key_section input[type="text"] {
   width:500px;
   font-family:monospace;
}

#account_page #profile_image_box {
   width:250px;
   font-size:80%;
   float:right;
   text-align:center;
}
#account_page #profile_image_box a {
   color:#999;
}
#account_page .small_notice {
   font-size:85%;
   color:#999;
}

#news_page .news {
   background-color:#333;
   border:1px solid #ccc;
   padding:10px;
   margin-bottom:10px;
}

#statistics_select_page #select_grid .select_box {
   background-color:#333;
   float:left;
   vertical-align:top;
   margin:0 30px 0 0;
   width:150px;
   text-align:center;
   border:1px solid #999;
   height:200px;
   padding:20px;
}
#statistics_select_page .select_box img {
   vertical-align:top;
   width:150px;
}
#statistics_select_page #did_you_know {
   clear:both;
}
#statistics_select_page #levels_grid, #statistics_select_page #awards_grid {
   margin-top:30px;
}
#statistics_select_page #levels_table td, #statistics_select_page #awards_table td {
   vertical-align:top;
   width:90px;
   font-size:90%;
   text-align:center;
   padding:5px;
}
#statistics_select_page #levels_table img, #statistics_select_page #awards_table img {
   width:70px;
}
#statistics_select_page #levels_table a, #statistics_select_page #awards_table a {
   color:#999;
   font-weight:bold;
}
#statistics_select_page #awards_table .info span {
   top:70px;
   width:150px;
}

#statistics_countries_page ul {
   list-style-type:none;
   padding:0;
   margin:0 0 0 10px;
}
#statistics_countries_page li {
   float:left;
   margin-right:5px;
   width:16em;
   height:1.8em;
   font-size:85%;
}
#statistics_countries_page img {
   border:1px solid #bbb;
   vertical-align:middle;
   width:21px;
}
#statistics_countries_page a {
   text-decoration:none;
}
#statistics_languages_page th {
   width:10em;
}
#statistics_languages_page .rank_column {
   background-color:inherit;
   border:none;
   text-align:right;
   font-weight:bold;
   width:2em;
}
#statistics_languages_page td {
   text-align:center;
}
#statistics_languages_page .language_column {
   text-align:left;
}
#statistics_languages_page a {
   text-decoration:none;
}
#statistics_languages_page .color_normal {
   color:#000;
}
#statistics_languages_page .color_highlight {
   color:#d00;
}
#statistics_problems_page #graph_images img {
   width:400px;
}
#statistics_problems_page th {
   width:8em;
}
#statistics_problems_page .n_column {
   width:2em;
   font-weight:bold;
   text-align:right;
}
#statistics_problems_page td, #statistics_problems_page th {
   text-align:center;
   font-size:80%;
}
#statistics_problems_page .n_column, #statistics_problems_page .blank_column {
   background-color:inherit;
   border:none;
}
#statistics_problems_page .blank_column {
   width:50px;
}
#statistics_general_table_page #image_box {
   padding:10px;
   border:1px solid #ccc;
   float:left;
   margin-right:20px;
}
#statistics_general_table_page #image_box img {
   vertical-align:top;
}
#statistics_general_table_page .info span {
   width:400px;
   top:35px;
   text-align:left;
   color:#444;
}
#statistics_general_table_page .rank_column {
   border:none;
   background:none;
   font-weight:bold;
   text-align:right;
   font-size:80%;
   color:#777;
}
#statistics_general_table_page .username_column {
   width:15em;
   text-align:left;
}
#statistics_general_table_page .country_column, #statistics_general_table_page .solved_column, #statistics_general_table_page .level_column {
   width:4em;
   text-align:center;
}
#statistics_general_table_page .language_column {
   width:8em;
}
#statistics_general_table_page a {
   text-decoration:none;
}
#statistics_general_table_page img {
   vertical-align:middle;
}
#statistics_eulerians_page li {
   margin-bottom:30px;
}
#statistics_eulerians_page .subtitle {
   font-size:120%;
   font-variant:small-caps;
}
#statistics_eulerians_page .rank_column {
   border:none;
   background:none;
   font-weight:bold;
   text-align:right;
   font-size:80%;
   color:#777;
}
#statistics_eulerians_page .username_column {
   width:15em;
   text-align:left;
}
#statistics_eulerians_page .country_column, #statistics_eulerians_page .score_column {
   width:4em;
   text-align:center;
}
#statistics_eulerians_page .performance_column, #statistics_eulerians_page .language_column {
   width:8em;
}
#statistics_eulerians_page .info span {
   text-align:left;
   color:#444;
   width:400px;
   top:35px;
}
#statistics_eulerians_page .performance span {
   font-size:80%;
   width:150px;
}
#statistics_eulerians_page img {
   vertical-align:middle;
}
#statistics_eulerians_page a {
   text-decoration:none;
}
